<div class="container-fluid container">
  
      <!--Carousel -->    
      <div id="carousel" class="mycarousel">
        <custom-carousel phoneslist="phones"></custom-carousel>
      </div>
      <div id="detail-form">
        <form id="my-form">
             First name: <input type="text" ng-model="title" name="title"/><br>
             Last name: <input type="text" ng-mdoel="description" name="lname"/><br>
             <input type="Submit" value="Update"/>
        </form>
        <!--Grid -->
        <custom-list phoneslist="phones"></custom-list>
      </div>    
    
   
 
</div>
